.create-event {
  
    display: flex;
    flex-direction: column;
    padding: 10px;

}
.create-event input {
    width: 15rem;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;

}

.create-header{
    align-self: center;
}

.submit-event {
    padding: 2px;
    font-size: 10px;
    font-weight: bold;
    color: black;
    width: 4rem;
    height: 2.5rem;
    text-align: center;
   
   

}

.green-title{
    font-weight: 600;
    color: green;
}