.comment-head{
    padding: 5px;
    display: flex;
    flex-direction: column;

    border: 4px solid orange;
    width: 37rem;
    margin-top: 2rem;
    height: 3.5rem;
    background-color: rgba(218, 218, 27, 0.63);
    
}

.top-container {
    display: flex;
    flex-direction: column;
}
.comment-button {
    height: 2.5rem;
    padding: 5px;
    font-size: 11px;
    font-weight: bold;
    background-color: yellow;
}
.comment-button:hover {
    border: 2px solid white;
    background-color: rgba(22, 218, 22, 0.726);
}

.hide {
    display: none;
}

.show {
    display: inline;
    z-index: 100;
}
.hide-reply {
    display: none;
}

.show-reply {
    display: inline;
    z-index: 100;
}
.hide-reply-input {
    display: none;
}

.show-reply-input {
    display: inline;
    z-index: 100;
}

.top-row-comment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.comment-text {

    height: 3rem;
} 

.comment-container{
    border: 2px solid black
}

.comment-item-1{    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.display-reply:hover{
    background-color: rgb(43, 153, 226);
}