.friend-request a{
    text-decoration: none;
    color: black;
    font-size: .75rem;
    
}
.friend-request {
   width: 12rem;
   margin-left: 1rem;
   margin-bottom: 1rem;
}

.friend-request a{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 2rem;
    justify-content: space-between;
    
    border : 2px solid black;
}

.bottom-friend{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.friend-req-text{
    font-size: .7rem;
    
}

.friend-request a:hover{
    background-color: gray;
}