.event-page-container{
 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

   
}

.event-header{
    margin-top: .5rem;
    margin-bottom: .5rem;

    font-size: 3rem;
    background-color: rgba(42, 228, 42, 0.815);
    color: yellow
}

.notes {
    width: 22rem;
    font-size: 16px;
}

.display-comments {
    margin-right: 0
}

.attendee-item  a {
 
    text-decoration: none;
  
    color: black;

   
   
}

.left-col-event{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    width: 20rem;
    margin-left: 1rem ;
    margin-right: 2.5rem;
    margin-top: 2rem;
    height: fit-content;
    padding: 8px;
    background-color: rgba(255, 166, 0, 0.849);
}

.left-col-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.leader-container img{
    margin-bottom: 5rem;
   
    width: 14rem;

    border-radius: 50%;
}
.leader-container{
 display: flex;
 flex-direction: column;
 align-items: center;
   
}

.join-info {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(255, 255, 255);
    background-color: orange
}

.join-button{
    width: 27.7%;
    margin: auto;
  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
   
  
}

.join-button button{
    width: 5rem;
    color: black;
    height: 100%;
    background-color: rgba(255, 255, 0, 0.671)
}
.join-button button:hover{
    width: 5rem;
   
    color: black;
    border: 2px solid white;
    background-color: #03bf22ab
}

.confirm-text{
    font-size: .9rem;
    width: 50%;
    margin-left: 28rem;
    color: green;
    font-weight: bold;
}

.location-table{
    border: 2px solid orange;
    margin-top: 2rem;
    padding: .5rem;
    background-color: yellow;
    width: auto;
}

.notes-other{
    margin-bottom: 1rem;
    color: rgb(255, 123, 0);
   
 
}
.notes{
    background-color: rgba(228, 141, 42, 0.836);
  
    
}