ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background:orange;
  box-shadow: 4px 2px 5px gray;
  color: white;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
}



.brand {
  cursor: pointer;
  font-size: 2rem;
}

.show-options{
  border: none;
  width: 10rem;
  top: 3.5rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 100;
  background-color: orange;

}
.show-options li{
  width: 20rem;
 

}

.hide-options{
  display: none;
}

.navigate-button {
  width: 10rem;
  height: auto;
}

.nav-container{
  display: flex;
  flex-direction: column;
}