ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}
.group-logo{
  fill: white;
}
.navBar {
  background:orange;
  box-shadow: 4px 2px 5px gray;
  color: white;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
}



.brand {
  cursor: pointer;
  font-size: 2rem;
}

.show-options{
  border: none;
  width: 10rem;
  top: 3.5rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 100;
  background-color: orange;

}
.show-options li{
  width: 20rem;
 

}

.hide-options{
  display: none;
}



.nav-btn-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 
  width: 20rem;

  justify-content: space-between;
  
 
}
.nav-btn-container button{
  background-color: rgba(214, 181, 91, 0.938);
  height: 4rem;
  color: white;
  width: 4rem;
  border: 2px solid white;
}
.nav-btn-container button:hover{
  border: 2px solid rgba(209, 49, 49, 0.89);
  height: 4rem;
  width: 4rem;
}

.log-in-status{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}



span{
  color: green;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: .3rem
}

