.invite-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
}

.invite-card{
    width: 25rem;
    height: 40rem;
    background-color: rgba(231, 218, 34, 0.699);
}

.invite-card-head{
    margin-bottom: .5rem;
    font-size: 3rem;
    font-family:fantasy
}