.join-button-ticket{
  
    margin: auto;
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
    
   
  
}



.join-info-ticket{
    padding: 2px;
    background-color: orange;
    
}
.join-info-ticket:hover{
   border: 3px solid black;
   background-color: rgba(197, 196, 107, 0.884);

}

.join-button-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

