.join-button-ticket{
  
    margin: auto;
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
    
   
  
}



.join-info-ticket{
    padding: 2px;
    background-color: orange;
}

.join-button-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hide-event-link{
    display: none;
    
}
.show-event-link{
    display: block;
    border: 2px solid black;
    height: 4.9em;

}