.event-entry {
    border: 3px solid white;
  
  

}
.event-entry:hover {
    border: 2px solid black;
    background-color: rgba(235, 75, 1, 0.884);
    color: white;
}


.Link {
    color: black;
    text-decoration: none;
}

.event-headline {
    color:maroon;
    text-decoration: underline;
    background-color: rgba(218, 218, 27, 0.733);
}

.event-ticket-container{
    padding-bottom: 2rem;
}

.display-events-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    height: 30rem;
    overflow: scroll
}