



.body-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: './Images/autumn-light-bg.jpg'
}
.homepage-headline {
    width: 20 rem;
    margin: 0;
    padding: 0;
    margin-left: 30rem;
    margin-bottom: 2rem;
   
}

.left-col {
    border: none;
    width: auto;
    display: flex;
    flex-direction: column
}

.display-friends {
  
    height: 18.75rem;
    width: 15rem;
    
}
.pic-create-event-col {
   
    display: flex;
    flex-direction: row;
    flex-direction: wrap;
 
}

.display-events {
   
    margin: auto;
    border: none
  
   
 
}

.add-event {
    width: 32.7rem;
    margin-left: 2rem;
}

.create-location-button{
    height: 5rem;
    background-color: #bf0603dc;
    color: white;
   
}
.create-location-button:hover{
    width: auto;
    background-color: #03bf22ab;
    color: white;
}



.profile-pic {
    border: 5px solid orange;
}