.create-loc-button{
    width: 4rem;
    height: 2rem;
    font-weight: bold;
    background-color: rgb(248, 232, 1)
}
.create-loc-button:hover{
    
    background-color: rgba(49, 243, 42, 0.76);
    border: 2px solid white;
}

.add-event{
    background-color: rgba(32, 167, 39, 0.788);
    padding: 5px;
    border: 2px solid black;
    height: 27.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 3px 3px 7px;
  
}

.select-button{
    align-self: flex-start;
}

.body-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: './Images/autumn-light-bg.jpg'
}
.homepage-headline {
    width: 20 rem;
    margin: 0;
    padding: 0;
    margin-left: 30rem;
    margin-bottom: 2rem;
   
}

.left-col {
    border: none;
    width: auto;
    display: flex;
    flex-direction: column
}

.green-request{
    color: green;
    margin: 0;
}
.invite-header{
    margin-left: .5rem;
}
.display-friends {
  
    height: 18.75rem;
    width: 15rem;
    
}
.pic-create-event-col {
   
    display: flex;
    flex-direction: row;
    flex-direction: wrap;
 
}

div a:hover{
    color: green;
}
div a{
    color: rgb(245, 92, 3);
}



.add-event {
    width: 20rem;
    margin-left: 2rem;
}

.create-location-button{
    height: 5rem;
    background-color: #bf0603dc;
    color: white;
   
}
.create-location-button:hover{
    width: auto;
    background-color: #c8dd07;
    color: white;
}

.create-header{
    color: rgb(255, 255, 255);
}

.profile-pic {
    border: 5px solid orange;
}

.submit-event{
    background-color: rgba(243, 173, 42, 0.76);
}

.add-event-cont{
    border: 2px solid black;

}

.private-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

