.reputation{
    margin: 0;
    width: 10rem;
    display: flex;
    flex-direction: column;
}

.buddy-list{
    border: 5px solid rgb(252, 252, 252);
    height: 19rem;
    width:10rem;
    padding: 8px;
    margin-left: 1rem;
    background-color: rgba(255, 166, 0, 0.521);
}

.left-image-info{
    width:16rem;
}

.buddy-headline{
    height: 2rem;
    border-bottom: 2px solid rgba(218, 218, 27, 0.993);
    margin-bottom: 1rem;
}
.top-row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.left-image-buddy{
    margin-right: 0;
    display: flex;
    flex-direction: row;

    justify-content: space-between;

}

.joyn {
    font-size: 1.5rem;
}
.joyn-up{
  
    display: flex;
    flex-direction: column;
}
.left-side-top{
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: flex-start;
}

.join-count-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.snapshot{
 
    margin: 1rem;
    margin-top: 0;
    width: 25rem;
    height: 30rem;
    border: 2px solid rgb(231, 179, 6);
    font-size: 1rem;
    padding: 2rem;
    box-shadow: 2px 2px 10px gray;
    background-image: url("https://images.unsplash.com/photo-1615457938971-3ab61c1c0d57?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435")
    ;
}

