.reputation{
    margin: 0;
    width: 10rem;
    display: flex;
    flex-direction: column;
}

.buddy-list{
    border: 5px solid rgb(252, 252, 252);
    height: 19rem;
    width:10rem;
    padding: 8px;
    margin-left: 1rem;
    background-color: rgba(255, 166, 0, 0.521);
}

.left-image-info{
    width:16rem;
}

.buddy-headline{
    height: 2rem;
    border-bottom: 2px solid rgba(218, 218, 27, 0.993);
    margin-bottom: 1rem;
}
.top-row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.left-image-buddy{
    margin-right: 0;
    display: flex;
    flex-direction: row;

    justify-content: space-between;

}

.joyn {
    font-size: 1.5rem;
}
.joyn-up{
  
    display: flex;
    flex-direction: column;
}
.left-side-top{
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: flex-start;
}

.snapshot{
 
    margin: 1rem;
    margin-top: 0;
    width: 25rem;
    height: 30rem;
    border: 2px solid black;
 
 
    background-color: rgba(255, 255, 0, 0.671);
}

