@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
 
  
  
}

.nav-app{
  position: sticky;
  top: 0
}

html {
  box-sizing: border-box;
  font-family: cursive
}

body{
  background-color: rgba(211, 179, 35, 0.39);
  background-image: "https://www.google.com/imgres?imgurl=https%3A%2F%2Fimg.freepik.com%2Ffree-photo%2Fmaple-leaf-border-background-orange-watercolor-autumn-season_53876-128735.jpg%3Fw%3D2000&imgrefurl=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fautumn-background&tbnid=ZdPI7Frw-eYPKM&vet=12ahUKEwj_8qOIhdv3AhW8AjQIHQBLB7gQMygAegUIARDoAQ..i&docid=4mdatJkKv1SfjM&w=2000&h=1333&q=autumn%20background&ved=2ahUKEwj_8qOIhdv3AhW8AjQIHQBLB7gQMygAegUIARDoAQ";
}

p {
  font-size: 20px;
}



.container {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
